body {
    background-color:  #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
}
header {
    width: 95%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin: auto 80%;
}
section:first-of-type {
    width: 80%;
    margin: auto 75%;
}
#clicktrap {
    flex-wrap: wrap;
}

.imageholder {
    height: 180px;
    width: 180px;
    /*background-color: yellow;*/
    display: inherit;
    margin: 10px;
    border-style:outset;


}
 #clicktrap {
     display: inherit;
     align-items: flex-start;
     justify-content: center;
     flex-direction: row;
 }

#buttonstorage {
    display: inherit;
    justify-content:center;
    visibility: hidden;
}
#graphs {
    display: inherit;
    justify-content:center;
    /*visibility: hidden;*/
}

#graphDisplay {
    border: 1px solid black;
}

/** {
    border: 1px dashed red;
}*/
