body {
    background-color:  #e0C0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    width: 95%;
    display: flex;
    justify-content: center;
    font-family: 'Candal', sans-serif;
    margin: auto 80%;
    color: #502050;
    text-shadow: 1px 4px 5px #FFFFFF;
}

section:first-of-type {
    width: 80%;
    margin: auto 75%;
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px 5px #FFFFFF;
}

#clicktrap {
    flex-wrap: wrap;
    display: inherit;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.imageholder {
    height: 180px;
    width: 180px;
    display: inherit;
    margin: 10px;
    border-style:outset;
}

#buttonstorage {
    display: inherit;
    justify-content:center;
    visibility: hidden;
}

#results {
    margin: 0 auto;
    width: 65%;
    min-width: 310px;
    height: 400px;
}
/** {
    border: 1px dashed red;
}*/
